@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Fraunces', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  background-color: #FBFAF8;
  color: #221F2E;
}
